/* Tipografias Web */
/* font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*--- RESETEO ---*/
*{
    margin: 0;
    padding: 0;
    background-color: #290e34f6;
}

/* Selector de tipo etiqueta */
h1{
    color: rgb(255, 255, 255);
    background-color: #290e34f6;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    padding: 30px;
   
}

/* -------MENÚ DE NAVEGACIÓN -------- */
.navegacion{
    background-color: #290e34f6;
    /* font-family: sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    /* position: fixed; */
}

nav li{
    display: inline-block;
    padding: 15px;
    /* position: fixed; */
}

.navegacion a{
    color: white;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    /* position: fixed; */
}

.navegacion ul{
    list-style-type: none
}

.fondo-main{
    /* background-image: url('../resources/Bodas2.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #290e34f6;
    padding: 10px;
}    

.fondo-main img{
    height: 1300px;
    width: auto;
    border-radius: 15px;

}




/*---------- IMG FONDO ----------*/

.fondo-papel{
    background-image: url('../resources/SobreMi.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    /* background-color: #290e34f6; */
    color: white;
    width: 2000px;
    height: 1000px;
    
    
}
.fondo-papel h3{
    /* border: solid 5px #000006; */
    display: block;
    width: 500px;
    /* height: 170px; */
    /* padding: 60px; */
    /* background-color: #290e34f6; */
    color: white;
    font-family: "Bebas Neue", sans-serif;
    margin: 15px;
}

/*------- SOBRE MI ----------*/
/* Etiqueta en bloque */
.fondo-papel p{
    /* border: solid 5px #000006; */
    display: block;
    width: 500px;
    height: 170px;
    /* padding: 60px; */
    /* background-color: #290e34f6; */
    color: white;
    font-family: "Bebas Neue", sans-serif;
    margin: 25px;
}
/* Etiqueta en linea */
.redes{
    background-color: #290e34f6;
}

.redes a{
    border-radius: 2px #be9913 ;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.redes img{
    height: 50px;
    width: 50px;
    /* border: dotted 3px #211353; */
    background-color: #290e34f6;
}


/*---------FORM --------*/

.form{    
    display: block;
    padding: 40px;
    background-color: #290e34f6;
}
.form input{
    display: block;
    
}

.form-label{
    color: white;
}

.container mt-5{
    /* color: white; */
    background-color: #290e34f6;
}

.body-formulario{
    background-color: #290e34f6;
}

#boton-submit{
    font-size: 40px;
    background-color: #5c5714;
    color: white;
    border-radius: 15px;
    height: 20px;
    width: 50px;
    font-size: 12px;
    padding: 10px;
}

.btn btn-primary{
    background-color: #5c5714;
}
/* ------------ SERVICIOS-------------- */
.serv-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: solid red 3px; */
    /* min-height: 650px; */
    align-content: space-around;
    /* width: 650px; */
    align-items: center;
    background-color: #290e34f6;
}



.servicios{
    /* border: gray solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    /* Eje horizontal, eje vertical, difuminado, extensión */
    box-shadow: 1px 1px 5px 2px #51515195;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.servicios h3{
    color: white;
}


.servicios img{
    height: 250px;
    border-radius: 15px;
    /* border: dotted 3px #211353; */

}
.servicios button{
    padding: 5px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: #5c5714;
    color: white;
    font-family: sans-serif;
}

/* Carrousel */
.carousel{
    width: auto;
    height: auto;
    margin: auto;

}


.carousel-item img{
    /* height: 500px; */
    height: 1300px;
    width: auto;
    border-radius: 15px;
    background-position: center; 
    
    
}
