@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografias Web */
/* font-family: "Bebas Neue", sans-serif; */
/* Selector de tipo etiqueta */
h1 {
  color: rgb(255, 255, 255);
  background-color: rgba(41, 14, 52, 0.9647058824);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  padding: 30px;
}

/* -------MENÚ DE NAVEGACIÓN -------- */
.navegacion {
  background-color: rgba(41, 14, 52, 0.9647058824);
  /* font-family: sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  /* position: fixed; */
}
.navegacion a {
  color: white;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  /* position: fixed; */
}
.navegacion ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 15px;
  /* position: fixed; */
}

/* Etiqueta en linea */
.redes {
  background-color: rgba(41, 14, 52, 0.9647058824);
  min-height: 100vh;
  padding: 30px;
}
.redes a {
  border-radius: 2px #be9913;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.redes img {
  height: 50px;
  width: 50px;
  /* border: dotted 3px #211353; */
  background-color: rgba(41, 14, 52, 0.9647058824);
  padding: 5px;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.carousel-control-prev-icon {
  color: chartreuse;
}

.carousel-control-next-icon {
  color: chartreuse;
}

.carousel-inner {
  height: 95vh;
  width: 100%;
  overflow: hidden;
}

/*---------CONTACTO --------*/
.form {
  display: block;
  padding: 40px;
  background-color: rgba(41, 14, 52, 0.9647058824);
}
.form input {
  display: block;
}

.form-label {
  color: white;
}

.container mt-5 {
  /* color: white; */
  background-color: rgba(41, 14, 52, 0.9647058824);
}

.body-formulario {
  background-color: rgba(41, 14, 52, 0.9647058824);
}

#boton-submit {
  font-size: 40px;
  background-color: #5c5714;
  color: white;
  border-radius: 15px;
  height: 20px;
  width: 50px;
  font-size: 12px;
  padding: 10px;
}

.btn btn-primary {
  background-color: #5c5714;
}

.main-serv {
  background-color: rgba(41, 14, 52, 0.9647058824);
}
.main-serv h1 {
  color: white;
  width: 220px;
  margin: 10px auto;
  padding: 5px 16px;
  /* font-family: "Lato", sans-serif; */
  text-align: center;
  font-weight: bolder;
}
.main-serv .secc-servicios div {
  height: 140px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  height: 600px;
}
.main-serv .secc-servicios div h2 {
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: hsl(306, 90%, 8%);
  /* background-color: none; */
}
.main-serv .secc-servicios .serv1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url(../resources/Bodas.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serv .secc-servicios .serv2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url(../resources/Quince.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serv .secc-servicios .serv3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url(../resources/Books.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serv .secc-servicios .serv4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url(../resources/Eventos.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serv .secc-servicios .serv5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url(../resources/Productos.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serv .secc-servicios button {
  padding: 5px 15px;
  margin: 15px;
  border-radius: 15px;
  background-color: hsl(306, 90%, 8%);
  color: white;
  font-family: sans-serif;
}
.main-serv .secc-servicios img:hover {
  border: 5px solid;
  transform: scale(1.3);
}

/*MEDIA QUERYS*/
/*Estrategia Mobile First → Min-width*/
@media (min-width: 601px) {
  .main-serv .secc-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-serv .secc-servicios div {
    margin: 2px;
    height: 600px;
  }
}
@media (min-width: 768px) {
  .main-serv .secc-servicios {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-serv .secc-servicios div {
    height: 600px;
  }
}
.body-galeria {
  background-color: rgba(41, 14, 52, 0.9647058824);
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: all 300ms;
}

#galeria img:hover {
  border: 5px solid;
  transform: scale(1.3);
}

/*------- SOBRE MI ----------*/
/* Etiqueta en bloque */
/*---------- IMG FONDO ----------*/
.fondo-papel {
  background-image: url("../resources/SobreMi.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(41, 14, 52, 0.9647058824);
  color: white;
  width: 100vw;
  height: 850px;
}
.fondo-papel p {
  display: block;
  width: 500px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin: 30px;
  font-size: 21px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.fondo-papel h3 {
  /* border: solid 5px #000006; */
  display: block;
  width: 500px;
  /* height: 170px; */
  /* padding: 60px; */
  /* background-color: #290e34f6; */
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin: 25px;
  font-size: 28px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

@media (min-width: 466px) {
  .fondo-papel div {
    margin: 2px;
    width: 466px;
  }
}
@media (max-width: 535px) {
  .fondo-papel h3 {
    width: 250px;
    font-size: 18px;
  }
  .fondo-papel p {
    width: 250px;
    font-size: 14px;
  }
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 40px;
  height: 8px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-clip: padding-box;
  border-top: 3px solid transparent;
  border-top-color: black;
  border-bottom: 3px solid transparent;
  border-bottom-color: black;
  border-left: 3px solid;
  border-right: 3px solid;
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

.principal {
  background-color: rgba(41, 14, 52, 0.9647058824);
}

.main-carousel {
  background-color: rgba(41, 14, 52, 0.9647058824);
  max-width: 100%;
  max-height: 80%;
  margin: auto;
}/*# sourceMappingURL=estilo.css.map */