/* Selector de tipo etiqueta */
h1{
    color: rgb(255, 255, 255);
    background-color: #290e34f6;
    text-align: center;
    font-family: $fuente_sin-serifa;
    font-size: 50px;
    padding: 30px;
   
}