/* Carrousel */
// .carousel{
    // width: auto;
    // height: auto;
    // margin: auto;

// }


.carousel-item img{
    height: 850px; 
    width: 1700px;
    border-radius: 15px;
    background-size:cover ;
    background-position:center ; 
    // object-fit: cover;
    background-attachment:fixed;
}