// Carrousel

// .carousel{
    // width: auto;
    // height: auto;
    // margin: auto;
    
// }


.carousel-item img{
    // height: 850px;
    height: 100%; 
    // width: 1700px;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    // background-size:cover ;
    // background-position:center ; 
    // object-fit: cover;
    // background-attachment:fixed;
}