/*---------FORM --------*/

.form{    
    display: block;
    padding: 40px;
    background-color: #290e34f6;
}
.form input{
    display: block;
    
}

.form-label{
    color: white;
}

.container mt-5{
    /* color: white; */
    background-color: #290e34f6;
}

.body-formulario{
    background-color: #290e34f6;
}

#boton-submit{
    font-size: 40px;
    background-color: #5c5714;
    color: white;
    border-radius: 15px;
    height: 20px;
    width: 50px;
    font-size: 12px;
    padding: 10px;
}

.btn btn-primary{
    background-color: #5c5714;
}