/* Etiqueta en linea */
// REDES
.redes{
    background-color: #290e34f6;
    min-height: 100vh;
    padding: 30px;
    
    
    
     a{
        border-radius: 2px #be9913 ;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }

    img{
        height: 50px;
        width: 50px;
        /* border: dotted 3px #211353; */
        background-color: #290e34f6;
        padding: 5px;
    }
}
