/* Etiqueta en linea */
.redes{
    background-color: #290e34f6;
}

.redes a{
    border-radius: 2px #be9913 ;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.redes img{
    height: 50px;
    width: 50px;
    /* border: dotted 3px #211353; */
    background-color: #290e34f6;
}
